.footer {
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #333;
   padding: 1rem;
   color: white;
}

.footer p {
   color: #7b45c7;
}
.footer a {
   color: white;
   text-decoration: none;
   margin: 0 1rem;
}

.footer a:hover {
   color: #ccc;
}
