nav {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem;
   background-color: #7b45c7;
   z-index: 1000;
}

nav a {
   text-decoration: none;
   color: #97c5b4;
}

.icons-container {
   display: flex;
   gap: 1rem;
}

.navbar-links {
   display: flex;
   gap: 1rem;
}

.hamburger {
   display: none;
   color: white;
   font-size: 1.5rem;
   cursor: pointer;
}

.dropdown-menu {
   position: absolute;
   right: 0;
   top: 100%;
   z-index: 10;
   overflow: hidden;
}

.dropdown-menu-content {
   display: none;
   flex-direction: column;
   background-color: #f9f9f9;
   border: 1px solid #ccc;
   border-radius: 4px;
   padding: 10px 0;
}

.dropdown-menu a {
   padding: 10px 20px;
   display: block;
   color: #333;
   text-decoration: none;
}

.dropdown-menu a:hover {
   background-color: #f1f1f1;
}

.logo-container {
   width: 12rem;
   height: 4rem;
   overflow: hidden;
   display: flex;
   align-items: center;
   margin-right: 1rem;
}

.logo {
   height: auto;
   width: 100%;
}
.open .dropdown-menu-content {
   display: flex;
}

.search-form {
   display: flex;
   align-items: center;
   gap: 0.5rem;
}

.search-form input {
   width: 100%;
   max-width: 300px;
   padding: 0.5rem;
   border: none;
   border-radius: 4px;
   outline: none;
}

.search-form button {
   background: none;
   border: none;
   color: #97c5b4;
   cursor: pointer;
   padding: 0.5rem;
   font-size: 0.9rem;
   margin-left: -4px;
}

@media (min-width: 768px) {
   .dropdown-menu {
      display: none !important;
   }
}

@media (max-width: 768px) {
   nav {
      flex-wrap: wrap;
   }
   .navbar-links {
      display: none;
   }

   .hamburger {
      display: block;
   }

   .search-form {
      order: -1;
      width: 100%;
      margin-top: 1rem;
   }

   .search-form input {
      width: 100%;
   }

   .open .dropdown-menu-content {
      display: flex;
   }
}

.fa-user {
   font-size: 1.2rem;
}
